# Install pre-commit hooks via "pre-commit install"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "2c9f875913ee60ca25ce70243dc24d5b6415598c"  # frozen: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: requirements-txt-fixer
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "3a6eb0fadf60b3cccfd80bad9dbb6fae7e47b316"  # frozen: v1.10.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/psf/black
    rev: "3702ba224ecffbcec30af640c149f231d90aebdb"  # frozen: 24.4.2
    hooks:
      - id: black

  - repo: https://github.com/adamchainz/blacken-docs
    rev: "960ead214cd1184149d366c6d27ca6c369ce46b6" # frozen: 1.16.0
    hooks:
      - id: blacken-docs

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "596470fba20d04adc68ec7903ff69a12e5e1a8d3"  # frozen: v0.4.2
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes", "--exit-non-zero-on-fix"]
